body {
  width: 100vw;
  height: 100vh;
  background-image: url(../Img4/samea.jpg);
  background-size: contain;
  background-position: right, top;
  background-color: #0008;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
}
